body{
  font-family: 'Comfortaa';
}

nav{
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0px 20px;
}

li, a{
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: all 0.6s ease 0s;
  position: relative;
  padding: 0 10px;
}

a:hover {
  color: #F4978E;
}

a:after {
  content: "";
  position: absolute;
  background-color: #F4978E;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover:after {
  width: 100%;
}

.navi{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background-color: #FCD5CE;
}


